/*
Overwrite shiny dashboard color scheme skin-green
Color main-header left
*/
.skin-green .main-header .logo {
    background-color: #8b9d6a;
    color: #fff;
    border-bottom: 0 solid transparent;
}
.skin-green .main-header .navbar .sidebar-toggle:hover, 
.skin-green .main-header .logo:hover {
    background-color: #a1b47d;
}

/*
Color header full
*/
.skin-green .sidebar-menu>li.active>a, .skin-green .sidebar-menu>li:hover>a {
    color: #fff;
    background: #1e282c;
    border-left-color: #b3c88b;
}
/*
Color navigation bar
*/
.skin-green .main-header .navbar {
    background-color: #b3c88b;
}

/*
 * Color boxes
 */
.box.box-info {
    border-top-color: #cccccc; /* grey */
}
.box.box-warning {
    border-top-color: #E56855; /* red */
}
.box.box-success {
    border-top-color: #cccccc; /* green #8C9418*/
}
.shiny-notification {
    position: fixed;
    top: 60px;
    left: 240px;
    font-size: 2rem;
    opacity: 1 !important;
    white-space: nowrap;
    padding: 2rem 3rem;
}
.shiny-notification-close {
    float: right;
    font-weight: bold;
    font-size: 18px;
    bottom: 9px;
    position: relative;
    padding-left: 4px;
    color: #444;
    cursor: default;
    position: absolute;
    right: 8px;
    top: 2px;
}
body > .wrapper{
    overflow: initial;
}
body > .wrapper > header{
    position: sticky;
    top: 0
}

#kDepthSelect {
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 4px;
}
/* Overwrite data table layout */
.dataTables_wrapper {
    max-width: 100%;
    max-height: 350px;
    overflow: auto;
}
.dataTable thead {
    position: sticky;
    top: 0;
    background: #fff;
}
